---
import Layout from '../layouts/Layout.astro';
import UserAuth from '../components/UserAuth';
---

<Layout title="Sistema de Control de Inventario y Ventas">
  <main>
    <UserAuth client:load />
  </main>
</Layout>

