---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login - Ofertas">
  <div>reinicio del proyecto</div>
  <!-- <UserAuth client:load /> -->
</Layout>

<script>
  // import { isLoggedIn } from "../lib/seguridad";

  // try {
  //   if (isLoggedIn()) {
  //     window.location.href = "/ofertas/ofertas";
  //   }
  // } catch (error) {}
</script>
