---
---
<aside class="bg-gray-800 text-white w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">
  <div class="flex justify-center items-center mb-8 pt-4">
    <img src="/ms-icon-310x310.png" alt="Logo" class="w-16 h-16" />
  </div>
  <nav class="space-y-2 pt-10 md:pt-0">
    <a href="#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white sidebar-link" data-target="almacen">
      Almacén
    </a>
    <a href="#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white sidebar-link" data-target="tazaCambio">
      Taza de Cambio
    </a>
    <a href="#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white sidebar-link" data-target="jornadaControl">
      Inicio y Cierre Jornada
    </a>
    <a href="#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white sidebar-link" data-target="gestionUsuarios">
      Gestión de Usuarios
    </a>
  </nav>
</aside>

<button class="md:hidden p-2 rounded-md bg-gray-800 text-white fixed top-4 left-4 z-20" id="menu-toggle">
  <span class="sr-only">Abrir menú</span>
  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
  </svg>
</button>

<script>
  const sidebar = document.querySelector('aside');
  const menuToggle = document.getElementById('menu-toggle');
  const overlay = document.createElement('div');
  overlay.classList.add('fixed', 'inset-0', 'bg-black', 'bg-opacity-50', 'z-10', 'hidden');
  document.body.appendChild(overlay);

  menuToggle!.addEventListener('click', () => {
    sidebar!.classList.toggle('-translate-x-full');
    overlay.classList.toggle('hidden');
  });

  overlay.addEventListener('click', () => {
    sidebar!.classList.add('-translate-x-full');
    overlay.classList.add('hidden');
  });

  // Agregar evento de clic a los enlaces del sidebar
  const links = document.querySelectorAll('.sidebar-link');
  links.forEach(link => {
    link.addEventListener("click", (e) => {
    e.preventDefault();
    const target = link.getAttribute("data-target"); // TypeScript ya sabe que link es un HTMLAnchorElement.
    if (target) {
      //loadComponent(target);
      console.log(target);
    // Disparar un evento personalizado que será escuchado en admin-panel.astro
      window.dispatchEvent(new CustomEvent('sidebarLinkClicked', { detail: { target } }));
      
      // Cerrar el sidebar en móvil después de hacer clic
      if (window.innerWidth < 768) {
        sidebar!.classList.add('-translate-x-full');
        overlay.classList.add('hidden');
      }
    }
    });
  });
</script>

