---
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
	<meta name="description" content="Sistema para realizar ventas en pequeños y grandes puntos de ventas" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/android-icon-192x192.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#000000">
    <link rel="apple-touch-icon" href="/android-icon-192x192.png">
  </head>
  <body>
	<main>
    	<slot />
	</main>
	<Footer />
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
            .then((reg) => console.debug('Service worker registered.', reg))
            .catch((err) => console.debug('Service worker registration failed:', err));
        });
      }
    </script>
  </body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
