---
import Layout from "../../layouts/Layout.astro";
import ListaVentasFinalizadas from "../../components/VentasFinalizadas";
import { LogOut } from "lucide-react";
---

<Layout title="Despachador">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-center items-center mb-8">
            <h1 class="text-2xl font-bold text-white">Panel del Despachador</h1>
            <div class="pr-10"></div>
            <button id="logoutButton" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded flex items-center justify-end">
                <LogOut className="h-4 w-4 mr-2" />
                Cerrar sesión
            </button>
        </div>
        
        <div class="flex justify-center">
            <div class="w-full max-w-2xl">
                <h2 class="bg-gray-500 text-white px-4 py-2 rounded text-2xl font-bold mb-4 h1responsivetext text-center">Ventas Finalizadas</h2>
                <div id="ventasFinalizadas">
                    <ListaVentasFinalizadas client:load updateFlag={false}/>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script>
import { supabase } from "../../lib/supabase";
import { isLoggedIn } from "../../lib/supabaseseguridad";

document.addEventListener('DOMContentLoaded', () => {
    try {
        if (!isLoggedIn()) {
            window.location.href = "/";
        }
    } catch (error) {
        console.error("Error checking login status:", error);
    }

    const logoutButton = document.getElementById('logoutButton');
    if (logoutButton) {
        logoutButton.addEventListener('click', handleLogout);
    }
});

async function handleLogout() {
    try {
        await supabase.auth.signOut();
        localStorage.removeItem("user");
        window.location.href = "/";
    } catch (error) {
        console.error("Error during logout:", error);
    }
}
</script>