---
import Layout from "../../layouts/Layout.astro";
// import OfertasCard from "../components/OfertasCard";
---

<Layout title="Ventas">
  <main class="container mx-auto px-0 py-0 md:px-4 md:py-8">
   <!-- <OfertasCard client:load /> -->
  </main>
</Layout>

